# === Java / Gradle ===
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.properties

# === IDEs ===
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

# === Logs & Runtime ===
*.log
logs/
*.pid
*.seed
*.pid.lock

# === System / OS ===
.DS_Store
Thumbs.db

# === Environment Files ===
.env

# === Test / Coverage ===
/coverage
/.nyc_output
.pytest_cache/
target/
out/

# === MongoDB / Temp ===
*.lock
.dump/
data/
temp/
tmp/*

# ===  Logs / Tmp =========
*.log
tmp/

# ===  Node.js =========
node_modules/